.app-alerts-div-start {
    position: fixed;
    z-index: 1040;
    margin-left: 40%;
  }
  
  .app-alerts-div-end {
    position: fixed;
    z-index: 1040;
    margin-left: 40%;
    opacity: 0;
    transition: opacity 2.0s ease-in;
  }

  .app-steps-div-start{
    opacity: 100;
    transition: opacity 0.5s ease-in;
  }

  .app-steps-div-end{
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  .app-margin-top{
    margin-top: 60px;
  }

  .app-margin-auto{
    margin: auto;
  }