<<<<<<< HEAD
.select-products-card {
    width: 10rem;
    display: inline-block;
    margin: 5px;
}

.select-products-card-img {
   width: 70%;
   min-width: 100px;
=======
.select-products-card{
    width: 10rem;
    display: inline-block;
>>>>>>> 42a3000c8b068274d1f32111d021703fb5d018e4
}