.select-products-card {
    display: inline-block;
    margin: 5px;
}

.select-products-card-img {
    object-fit: scale-down;
    width: 100px;
    height: 100px;
    margin-left: inherit;
    margin-top: inherit;
}